<!-- ~~~ REACTIVE DRIVEN APPROACH ~~~~ -->
<form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
  <div id="book-data">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        formControlName="title"
      />
      <span
        class="help-block text-danger"
        *ngIf="
          !reactiveForm.get('title').valid && reactiveForm.get('title').touched
        "
        >Please enter a valid title!</span
      >
    </div>

    <!-- Author -->
    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        id="author"
        name="author"
        class="form-control"
        formControlName="author"
      />
      <span
        class="help-block text-danger"
        *ngIf="
          !reactiveForm.get('author').valid &&
          reactiveForm.get('author').touched
        "
        >Please enter a valid author!</span
      >
    </div>

    <!-- Genre -->
    <div class="form-group">
      <label for="genre">Genre</label>
      <select
        name="genre"
        id="genre"
        class="form-control"
        formControlName="genre"
      >
        <option value="mystery">Mystery</option>
        <option value="self-help">Self-Help</option>
        <option value="science-fiction">Science Fiction</option>
        <option value="historic">Historic</option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="
          !reactiveForm.get('genre').valid && reactiveForm.get('genre').touched
        "
        >Please select a valid genre!</span
      >
    </div>

    <!-- isBestSeller -->
    <div class="form-group">
      <p>Is this book a best seller?</p>

      <div class="flex-col">
        <!-- True -->
        <div>
          <input
            type="radio"
            id="true"
            name="isBestSeller"
            value="true"
            formControlName="isBestSeller"
          />
          <label for="true" class="ml-2">True</label>
        </div>

        <!-- False -->
        <div>
          <input
            type="radio"
            id="false"
            name="isBestSeller"
            value="false"
            formControlName="isBestSeller"
          />
          <label for="false" class="ml-2">False</label>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!reactiveForm.valid"
    >
      Submit
    </button>
  </div>
</form>

<!-- RESULTS -->
<div class="row mt-4" *ngIf="formHasBeenSubmitted">
  <div class="col-xs-12">
    <h3>Title: {{ reactiveForm.value.title }}</h3>
    <h3>Author: {{ reactiveForm.value.author }}</h3>
    <p>Genre: {{ reactiveForm.value.genre }}</p>
  </div>
</div>
